.preview-container {
  position: fixed;
  left: 242px;
  top: 70px;
  right: 10px;
  bottom: 10px;

  overflow: hidden;
  z-index: 1;
  border: none;
}

.preview-container.desktop { border-radius: 0; }

.preview-container.mobile {
  left: 50%;
  top: 54%;
  transform: translate(-50%, -50%);
  width: 355px;
  height: 642px;
  border-radius: 40px;
  border: 1px solid #c61010;
  box-shadow: 0 40px 120px rgba(0,0,0,0.9);

}

.preview-container.mobile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 210px;
  height: 36px;
  
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  z-index: 10;
}

.preview-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.preview-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e58bf;
  font-size: 1.8rem;
  font-weight: 600;
  background: #0f172a;
}